<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rebateRatioLogMapper">
  <resultMap id="BaseResultMap" type="com.mokylin.cabal.modules.rebate.entity.RebateRatioLog">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="day_amount" jdbcType="BIGINT" property="dayAmount" />
    <result column="rebate_ratio" jdbcType="INTEGER" property="rebateRatio" />
    <result column="edit_type" jdbcType="VARCHAR" property="editType" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
   	<select id="paging"
		resultType="com.mokylin.cabal.modules.rebate.entity.RebateRatioLog"
		parameterType="java.util.HashMap">
		select * from rebate_ratio_log where del_flag = 0
		<if test="@Ognl@isNotBlank(create_name)">and create_name like concat('%',#{createName},'%')</if>
		<if test="@Ognl@isNotBlank(startTime)">and create_date &gt;= #{startTime}</if>
		<if test="@Ognl@isNotBlank(endTime)">and create_date &lt;= #{endTime}</if>
		<if test="@Ognl@isNotBlank(editType)">and edit_type = #{editType}</if>
		order by create_date desc
	</select>
	<select id="count"
		resultType="java.lang.Integer"
		parameterType="java.util.HashMap">
		select count(*) from rebate_ratio_log where del_flag = 0
		<if test="@Ognl@isNotBlank(create_name)">and create_name like concat('%',#{createName},'%')</if>
		<if test="@Ognl@isNotBlank(startTime)">and create_date &gt;= #{startTime}</if>
		<if test="@Ognl@isNotBlank(endTime)">and create_date &lt;= #{endTime}</if>
		<if test="@Ognl@isNotBlank(editType)">and edit_type = #{editType}</if>
		
	</select>
  <insert id="insert" parameterType="com.mokylin.cabal.modules.rebate.entity.RebateRatioLog">
    insert into rebate_ratio_log (id, day_amount, rebate_ratio, 
      edit_type, create_name, create_by, 
      create_date, update_by, update_date, 
      del_flag)
    values (#{id,jdbcType=VARCHAR}, #{dayAmount,jdbcType=BIGINT}, #{rebateRatio,jdbcType=INTEGER}, 
      #{editType,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      now(), #{updateBy,jdbcType=VARCHAR}, now(),0)
  </insert>
  <insert id="insertSelective" parameterType="com.mokylin.cabal.modules.rebate.entity.RebateRatioLog">
    insert into rebate_ratio_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dayAmount != null">
        day_amount,
      </if>
      <if test="rebateRatio != null">
        rebate_ratio,
      </if>
      <if test="editType != null">
        edit_type,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dayAmount != null">
        #{dayAmount,jdbcType=BIGINT},
      </if>
      <if test="rebateRatio != null">
        #{rebateRatio,jdbcType=INTEGER},
      </if>
      <if test="editType != null">
        #{editType,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>